<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>The Democratic Primaries are posied to be the most fiercly competitive in decades. The chance to take on, and oust, Trump from The White House is clearly an alluring one.</p>
            <p>It's safe to say that the debate around who should get the nomination will start with who the most 'likeable' candidate is. However, once we move past appearances, the more important factors will be their platform and policy. So we've mapped all of the potentional 2020 candidates against each other on a set of important issues: Tech, abortion, taxes, immigration, gun control, healthcare and climate change.</p>
        </div>
    </div>
</div>
