<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <p>Almost two dozen Democratic candidates are vying for the party's nomination to be the one to take on Donald Trump in the 2020 race for the White House, setting the stage for the most crowded and fiercely competitive Democratic primaries in decades.</p>
            <p>Insurgent progressives, established moderates and everyone in between will be presenting their visions for America's post-Trump future. Here's where they stand on some of the most pressing issues of the era</p>
        </div>
    </div>
</div>
