<div class='uit-candidates'>
    <div class='uit-container'>
        <div class='uit-candidates__candidates'>
            <div class='uit-candidates__tooltip'>
                <div class='uit-candidates__tooltip-label'></div>
                <p class='uit-candidates__description'>This puts <span class='uit-candidates__description-name'></span> in <span class='uit-candidates__description-value'></span> when compared to fellow democrat presidential nominees on the issue of <span class='uit-candidates__description-issue'></span></p>
            </div>
            {{#each candidates}}
                <div class='uit-candidates__candidate'>
                    <h3 class='uit-candidates__label'>{{ @key }}</h3>
                    <div class='uit-candidates__chart'>
                        <img class='uit-candidates__face' src='{{ ../path }}/assets/elizabeth-warren.png' />
                        <!-- <img class='uit-candidates__face' src='{{ ../path }}/assets/{{ handlise @key }}.png' /> -->
                        {{{ graphic @key }}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
