<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <a class='uit-header__tag' href='https://www.theguardian.com/us-news/us-elections-2020'>US elections 2020</a>
            <h1 class='uit-header__headline' itemprop='headline'>
                Where do the 2020 Democratic candidates stand on the key issues?
            </h1>

            <div class='uit-header__meta'>
                <div class='uit-header__details'>
                    <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a>, <a href='https://www.theguardian.com/profile/enjoli-liston'>Enjoli Liston</a> and <a href='https://www.theguardian.com/profile/hubert-adjei-kontoh'>Hubert Adjei-Kontoh</a></p>

                    <p class='uit-header__dateline'>
                        <time itemprop='datePublished' datetime='2019-06-12T01:00:30-0500'>
                        Thursday 13 Jun 2019 <span class='uit-header__dateline-time'>01.00&nbsp;EST</span>
                        </time>
                    </p>
                </div>

                {{> partials/share }}
            </div>
        </div>
    </div>
</div>
