<div class='uit-issues'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h2 class='uit-subhead'>
                <span class='uit-subhead__inner'>The Issues</span>
            </h2>
            <p>
                Before we start, it's worth stating that this isn't an exact science. We started by taking the declared candidates and grouping them based on their stances on our list of issues. We used campaign speeches and materials when available and occasionally had to resort to interview quotes and voting records. What we're left with is an approximate of how progressive or centerist candidates are when compared to their fellow candidiates. The larger area a candidate has, the more progressive they are.
            </p>
        </div>
        {{#each issues}}
            <div class='uit-issue uit-issue--{{ @index }}'>
                <div class='uit-issue__header'>
                    <h3 class='uit-issue__title'>{{ title }}</h3>
                    <p class='uit-issue__description'>{{ description }}</p>
                </div>

                <div class='uit-issue__groups'>
                    {{#each groups}}
                        <div class='uit-issue__group uit-issue__group--{{ @index }} {{#if @last}}uit-issue__group--last{{/if}}'>
                            <div class='uit-issue__group-descriptions'>
                                <h3 class='uit-issue__group-description__title'>{{ title }}</h3>
                                <p class='uit-issue__group-description__description'>{{ description }}</p>
                            </div>
                            <div class='uit-issue__rule'>
                                {{#if_eq @../index '0'}}
                                    {{#if_eq @index '0'}}
                                        <div class='uit-issue__rule-label'>More Progressive</div>
                                    {{/if_eq}}
                                    {{#if @last}}
                                        <div class='uit-issue__rule-label uit-issue__rule-label--last'>More centrist</div>
                                    {{/if}}
                                {{/if_eq}}

                            </div>
                            <div class='uit-issue__candidiates'>
                                {{#each candidates}}
                                    <div class='uit-issue__candidate'>
                                        <img class='uit-issue__candidiate-image' src='{{ ../../../path }}/assets/{{ handlise @this }}.png' />
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
