<div class='uit-issues'>
    <div class='uit-container'>
        {{#each issues}}
            <div class='uit-issue uit-issue--{{ @index }}'>
                <div class='uit-issue__header'>
                    <h2 class='uit-subhead'>
                        <span class='uit-subhead__inner'>On {{ title }}</span>
                    </h2>
                    <p class='uit-issue__description'>{{ description }}</p>
                </div>

                <div class='uit-issue__groups'>
                    {{#each groups}}
                        <div class='uit-issue__group uit-issue__group--{{ @index }} {{#if @last}}uit-issue__group--last{{/if}}'>
                            <div class='uit-issue__group-descriptions'>
                                <h3 class='uit-issue__group-description__title'>{{ title }}</h3>
                                <p class='uit-issue__group-description__description'>{{ description }}</p>
                            </div>
                            <div class='uit-issue__rule'>
                                {{#if_eq @../index '0'}}
                                    {{#if_eq @index '0'}}
                                        <div class='uit-issue__rule-label'>More Progressive</div>
                                    {{/if_eq}}
                                    {{#if @last}}
                                        <div class='uit-issue__rule-label uit-issue__rule-label--last'>More Moderate</div>
                                    {{/if}}
                                {{/if_eq}}
                            </div>
                            <div class='uit-issue__candidiates'>
                                {{#if candidates }}
                                {{#each candidates}}
                                    <div class='uit-issue__candidate-wrapper'>
                                        <div class='uit-issue__candidate is-tooltippable' data-name='{{ candidate }}' data-quote='{{ quote.copy }}' data-source='{{ quote.source }}'>
                                            <img class='uit-issue__candidiate-image' src='{{ ../../../path }}/assets/{{ handlise candidate }}.png' />
                                        </div>
                                        <p class='uit-issue__candidate-name'>{{ surname }}</p>
                                    </div>
                                    {{#break @key ../candidates }}
                                        <div class='uit-issue__candidate-spacer'></div>
                                    {{/break}}
                                {{/each}}
                                {{else}}
                                    <div class='uit-issue__candidate__none'>No candidates support this position</div>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
