<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/ng-interactive/2019/jan/17/2020-election-candidates-list-democrats-primaries-trump-bernie-sanders-joe-biden-elizabeth-warren-kamala-harris-beto-o-rourke-running'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/be0fd4c2a40a577f2d20cb983c9c4007ce747d44/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>Who is running for president? The full list of 2020 Democratic candidates</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/jun/09/elizabeth-warren-2020-race-momentum-biden-sanders'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/3f7220147a8db444f73bc45eea3321f466a08c49/47_241_3820_2292/500.jpg' />
                    <div class='uit-related__headline'>Elizabeth Warren gains momentum in the 2020 race plan by plan</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/jun/07/joe-biden-backlash-abortion-rights-2020-election'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/b1a915c02d14370cfaa57d9cbc522db8fd37ed3b/0_271_5472_3283/500.jpg' />
                    <div class='uit-related__headline'>Biden backlash: will the frontrunner's early stumbles be his downfall?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/12/beto-o-rourke-2020-disappearing-act-what-happened-popularity-texas-politician'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/7094d595cfb4a807e266c15c60b1387f5fbab4e9/0_61_3500_2100/500.jpg' />
                    <div class='uit-related__headline'>The astonishing disappearing act of Beto O’Rourke</div>
                </a>
            </div>
        </div>
    </div>
</div>
