.uit-candidates {
    position: relative;

    .uit-content:first-of-type {
        @include mq(desktop, leftCol) {
            min-height: 250px;
        }
    }

    .uit-content p {
        padding-bottom: 18px;
        margin: 0;
    }
}

.uit-candidates__candidate {
    r: 20px;
    fill: $c-light-blue;

    @include mq(tablet) {
        r: 31px;
    }
}
