.uit-candidates__candidates {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.uit-candidates__candidate {
    width: calc(33% - 20px);
    margin-right: 20px;
}

.uit-candidates__chart {
    position: relative;
}

.uit-candidates__label {
    font-family: 'Guardian Egyptian Web';
    font-size: 22px;
    font-weight: 700;
}

.uit-candidates__face {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 32%;
    max-height: 32%;
    pointer-events: none;
}

.uit-candidates__radar {
    width: 100%;
}

.uit-candidates__tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    transform: translateY(20px);
    box-shadow: 2px 2px $c-black;
    opacity: 0;
    background-color: $c-white;
    border: 1px solid $c-black;
    padding: 6px;
    transition: opacity 0.5 linear;
    width: 240px;

    &.is-visible {
        opacity: 1;
    }
}

.uit-candidates__tooltip-label {
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    color: $c-black;
}
