.uit-radar {
    width: 100%;
}

.uit-radar__area {
    stroke: $c-light-blue;
    stroke-width: 2px;
    fill: #f1f8fc;
}

.uit-radar__guideline {
    stroke: $c-light-grey;
    stroke-width: 2px;
    marker-end: url('#arrow')
}

.uit-radar__arrow {
    fill: $c-light-grey;
}

.uit-radar__marker {
    fill: $c-white;
    stroke: $c-light-blue;
    stroke-width: 2px;
    pointer-events: none;
}

.uit-radar__point-hotspot {
    opacity: 0;

    &:hover ~ .uit-radar__marker {
        fill: $c-light-blue;
    }
}
.uit-radar__axis-label {
    font-family: 'Guardian Sans Web';
    font-size: 22px;
    text-anchor: middle;
}

.uit-candidates__legend {
    width: 180px;

    @include mq(desktop) {
        position: absolute;
        top: 0;
        right: -260px;
    }

    @include mq(leftCol) {
        left: -174px;
        width: 160px;
    }

    @include mq(wide) {
        left: -240px;
        width: 220px;
    }

    svg {
        @include mq(wide) {
            max-width: 180px;
            margin: 0 auto;
            display: block;
        }
    }

    .uit-radar__axis-label {
        font-size: 34px;
    }
}

.uit-candidates__legend-description {
    position: relative;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-light-blue;
    margin: 0;
}

.uit-candidates__legend-state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s linear;

    &.is-active {
        opacity: 1;
    }
}
