.uit-tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    transform: translateY(20px);
    box-shadow: 2px 2px $c-black;
    background-color: $c-white;
    padding: 4px 6px;
    max-width: 400px;
    border: 1px solid $c-black;
    left: 10px;
    right: 10px;
    margin: auto;
    opacity: 0;
    transition: opacity 0.3s linear;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }

    @include mq(tablet) {
        width: 240px;
        right: auto;
        left: auto;
        margin: 0;
    }

    &.is-visible {
        opacity: 1;
    }

    &.is-quote {
        margin-top: -12px;
    }
}

.uit-tooltip__title svg {
    display: none;

    .is-quote & {
        margin-top: 0.33em;
        margin-right: 0.4em;
        display: inline;
        fill: $c-black;
        width: 1.2em;
        float: left;
    }
}

.uit-tooltip__title-copy {
    font-family: 'Guardian Egyptian Web';
    font-weight: 600;
    color: $c-black;
}
