.uit-tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    transform: translateY(20px);
    box-shadow: 2px 2px $c-black;
    background-color: $c-white;
    padding: 4px 6px;
    max-width: 400px;
    border: 1px solid $c-black;
    left: 10px;
    right: 10px;
    margin: -42px auto 0;
    opacity: 0;
    transition: opacity 0.3s linear;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }

    @include mq(tablet) {
        width: 240px;
        right: auto;
        left: auto;
        margin: -42px 0 0;
    }

    @include mq(desktop) {
        width: 320px;
    }

    .ios &,
    .android & {
        margin-top: 0;
    }

    &.is-visible {
        opacity: 1;
    }
}

.uit-tooltip__title svg {
    display: none;
}

.uit-tooltip__title-copy {
    font-family: 'Guardian Egyptian Web';
    font-weight: 600;
    color: $c-black;
}

.uit-tooltip__catch {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;

    &.is-visible {
        @include mq($until: tablet) {
            pointer-events: auto;
        }
    }
}
